/* 
#120136 - Dark Blue
#035aa6 - Mid Blue
#40bad5 - Aqua Blue
#fcbf1e - Gold
*/

.custom_select  {
  position: relative;
  margin: 0;
  background-color: #035aa6;
  width: 100%;
  margin: 15px 0;
}

.custom_select select {
  display: none;
}

.select_selected {
  background-color: #035aa6;
}

.select_selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select_items div,.select_selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select_items {
  position: absolute;
  background-color: #035aa6;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select_hide {
  display: none;
}

.select_items div:hover, .same_as_selected {
  background-color: rgba(0, 0, 0, 0.1);
}