/* 
#120136 - Dark Blue
#035aa6 - Mid Blue
#40bad5 - Aqua Blue
#fcbf1e - Gold
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap');

body  {
  background-color: #120136;
  color: #fff;
  font-size: 15px;
  height: 100%;
  padding: 5px;
  font-family: 'Oxygen', sans-serif;
}

.main  {
  margin: 0;
  min-height: 300px;
}

.hidden {
  display: none;
}

.setup-box {
  margin: 0px 20px;
  min-height: 300px;
}

.container_box {
  margin: 10px;
}

.question_container {
  margin: 10px 0;
}

.trivia_box {
  min-height: 100px;
}

.trivia_container {
  padding: 5px;
}

.trivia-select {
  margin: 5px 0;
}

.question_title {
  padding: 5px;
}

.btn  {
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: #40bad5;
  padding: 5px;
}

.button_container {
  margin: 20px 10px 0px 10px;
}

.submit-div {
  margin: 0;
}

.submit-btn {
  background-color: #fcbf1e;
}

footer  {
  /* border: 1px solid red; */
}