/* 
#120136 - Dark Blue
#035aa6 - Mid Blue
#40bad5 - Aqua Blue
#fcbf1e - Gold
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap');

body  {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  height: 100%;
  padding: 5px;
  font-family: 'Oxygen', sans-serif;
}

.main  {
  margin: 0;
  min-height: 300px;
  /* border: 1px solid yellow; */
}

.hidden {
  display: none;
  border: 1px solid red;
}

.setup-box {
  margin: 0px 20px;
  min-height: 300px;
  /* border: 1px solid orange; */
}

.trivia_box {
  border: 1px solid orange;
  min-height: 100px;
}

.trivia_container {
  border: 1px solid palevioletred;
  padding: 5px;
}

.question_container {
  border: 1px solid paleturquoise;
}

.question_title {
  border: 1px solid blueviolet;
  padding: 5px;
}

footer  {
  /* border: 1px solid red; */
}