table, .bar{
  background-color: white;
  width: 100%;
  border-collapse: collapse;
  color: black;
}

table tr  {
  border: 1px solid red;
  padding: 0 10px;
}

table tr td {
  border: 1px solid green;
}

table tr td:first-child {
  border: 1px solid purple;
  width: 15%;
  text-align: center;
}

table tr td:nth-child(2) {
  border: 1px solid blueviolet;
  padding: 0 5px;
}

table tr td:last-child {
  border: 1px solid orangered;
  width: 10%;
  text-align: center;
}

.bar  {
  width: 100%;
  box-sizing: border-box;
}

.tsk, .all, .atv, .cpt {
  display: inline-block;
  text-align: center;
  padding: 2px 3px;
}

/* .tsk  { background-color: aqua; }
.all  { background-color: blueviolet;  }
.atv  { background-color: yellowgreen;}
.cpt  { background-color: orangered; } */

.input-div  {
  box-sizing: border-box;
  width: 100%;
}

.input-box {
  width: 80%;
  display: inline-block;
}

.input-button {
  display: inline-block;
  text-align: center;
  width: 15%;
}

.btn  {
  width: 100%;
}

.btn-del  {
  padding: 0;
  text-align: center;
  color: black;
}

footer  {
  padding: 25px 10px;
}

#list-container {
  background-color: white;
}

#list-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* background-color: white; */
  color: black;
  margin: auto;
  margin: 0;
  border-bottom: 1px solid black;
}

#list-container ul li div {
  display: inline-block;
  /* align-items: center; */
  /* border: 1px solid black; */
}

#list-container ul li div:nth-child(1) {
  /* background-color: rebeccapurple; */
  width: 10%;
  text-align: center;
  padding: 3px 0;
  /* border: 1px solid black; */
  margin: 0;
}

#list-container ul li div:nth-child(2) {
  /* background-color: olivedrab; */
  width: 70%;
  padding: 3px 5px;
  /* border: 1px solid black; */
  margin: 0;
}

#list-container ul li div:nth-child(3) {
  /* background-color: plum; */
  width: 10%;
  padding: 3px 0;
  text-align: center;
  /* border: 1px solid black; */
  margin: 0;
}

.completed  {
  background-color: red;
}